<div id="appRootClass">

<mat-selection-list>
    <mat-list>
        <div  class="center-div">
            <td-search-box id="searchInput" backIcon="clear" class="search-button" placeholder="Search" [showUnderline]="false" [alwaysVisible]="true" [(ngModel)]="searchInputTerm" [debounce]="25" (searchDebounce)="searchProduct()" (search)="searchProduct()" (clear)="searchProduct()">
            </td-search-box>
            <div *ngIf="products?.length==0" style="text-align: center;">
                <br>
                <span style="font-family:Arial, Helvetica, sans-serif; color:red">There aren't products available </span>
                <br>
            </div>
            <div  *ngFor="let product of products | paginate: {itemsPerPage:numberOfElements, currentPage: pageActual}" attr.id="productContainer{{product.name}}">
                    <hr>
                    <div class="post-container">
                        <h3 class="post-title"><a attr.id="link{{product.name}}" (click)="goToProduct(product.name)" class="link">{{product.name}}</a></h3>                   
                        <div class="post-thumb" *ngIf="product.photoAvailable"><img [src]="pathPhotos(product.name)" class="logoPhoto" height="150" width="150" #photo attr.id="photo{{product.name}}" alt="photo of product {{product.name}}"></div>
                        <div class="post-content">
                            <p class="italic">{{product.description}}</p>
                        </div>
                        <div class="types">
                            <p attr.id="typeLic{{product.name}}">Type of licenses available: <span *ngFor="let type of product.typeSubs" class="typeLicenses" >{{type}} | </span></p>
                        </div>
                    </div>
            </div>
            <hr>
            <pagination-controls (pageChange)="pageActual = $event" style=" display:inline-block;">
            </pagination-controls>
            <a style="display:inline-block;">Elements on page:</a>
            <div style="width: 120px; margin-left: auto; display:inline-block;">
                <mat-select [(value)]="numberOfElements" style="display:inline-block; width: 50px;">
                    <mat-option value=5>5</mat-option>
                    <mat-option value=10>10</mat-option>
                    <mat-option value=20>20</mat-option>
                </mat-select>
            </div>
            <br>
        </div>
    </mat-list>
  </mat-selection-list>
</div>
