<mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="Product" [(ngModel)]="name" required [disabled]="edit"> 
    </mat-form-field>
    <br>
    <mat-form-field>
        <input type="url" matInput placeholder="Web URL" [(ngModel)]="webLink">
    </mat-form-field>  
    <br>
    <mat-form-field>
        <textarea matInput placeholder="Description" [(ngModel)]="description" required> </textarea>
    </mat-form-field>  
    <br>
    <mat-form-field>
    <mat-select [(value)]="type" placeholder="Type" required [disabled]="edit">
      <mat-option value="subscription">Subscription</mat-option>
      <mat-option value="lifetime">Lifetime</mat-option>
      <mat-option value="mettered">Mettered Billing</mat-option>
    </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Trial Days" [(ngModel)]="trialDays" required [disabled]="edit"> 
    </mat-form-field>
    <div *ngIf="type==='subscription'" class="prices" >
        <mat-checkbox [disabled]="edit" class="example-margin" [(ngModel)]="daily" color="primary"> Daily     <input matInput type="number" *ngIf="daily" placeholder="Price per day" [(ngModel)]="priceDaily" required> </mat-checkbox>         
        <br>
        <mat-checkbox [disabled]="edit" class="example-margin" [(ngModel)]="monthly" color="primary"> Monthly <input matInput type="number" *ngIf="monthly" placeholder="Price per month" [(ngModel)]="priceMonthly" required> </mat-checkbox>
        <br>
        <mat-checkbox [disabled]="edit" class="example-margin" [(ngModel)]="annual" color="primary"> Annual   <input matInput type="number" *ngIf="annual" placeholder="Price per year" [(ngModel)]="priceAnnual" required></mat-checkbox>
        <div>
        <br>
        <b>Prices:</b>
            <br>
            <a *ngIf="daily" >{{priceDaily}} €/day</a>
            <br>
            <a *ngIf="monthly" >{{priceMonthly}} €/month</a>
            <br>
            <a *ngIf="annual" >{{priceAnnual}} €/year</a>
            <br>
        </div>
    </div>
    <div *ngIf="type==='lifetime' || type==='mettered'" class="prices">
        <b>Price (€ <b *ngIf="type==='mettered'"> per use</b>): </b>
        <input matInput [disabled]="edit" type="number" placeholder="Price (€) " [(ngModel)]="price" required>
        <hr>
        <i *ngIf="type==='mettered'">Sum of uses will be charged in 1 month</i>
    </div>
    <br>
    <br>
    <br>
    <td-file-upload accept=".jpg,.png" color="accent" 
    #singleFileUpload [(ngModel)]="file" (select)="selectEvent($event)"
    (upload)="uploadEvent($event)" (cancel)="cancelEvent()">
    <mat-icon>file_upload</mat-icon>
    <ng-template td-file-input-label>
      <mat-icon>attach_file</mat-icon>
      Subir imagen
    </ng-template>
  </td-file-upload>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary"  (click)="add()" *ngIf="!edit" [disabled]="(trialDays==null || trialDays=='') || description==null || (name==null || name=='') || (type==''||type==null) || type==='subscription' && ((daily && (priceDaily==null || priceDaily==''))
        || (monthly && (priceMonthly==null || priceMonthly=='')) || (annual && (priceAnnual==null || priceAnnual==''))) || type==='lifetime' && (price==null || price=='')">ADD</button>
        <button mat-raised-button color="primary"  (click)="save()" *ngIf="edit" [disabled]="(trialDays==null || trialDays=='') || description==null || (name==null || name=='') || (type==''||type==null) || type==='subscription' && ((daily && (priceDaily==null || priceDaily==''))
        || (monthly && (priceMonthly==null || priceMonthly=='')) || (annual && (priceAnnual==null || priceAnnual==''))) || type==='lifetime' && (price==null || price=='')">SAVE</button>
        <button mat-button  (click)="close()">CANCEL</button>
    </mat-dialog-actions>


