<div class="bg">
  <!--<div id="logoBg">
      <a  id="name" class="font">{{appName}}</a>
  </div>-->
  <div id="content">
    <td-layout-nav class="sticky">
      <div td-toolbar-content layout="row" layout-align="start center" flex> 
      <!--  <a mat-icon-button [routerLink]="['/products']">
          <mat-icon>home</mat-icon>
        </a> -->
        <a mat-button (click)="manageLinks(appName)" class="font-size-medium">{{appName}}</a>
        <div *ngFor="let page of loginService.pages" class="buttons">
          <button mat-button (click)="manageLinks(page)" *ngIf="page != appName" [ngClass]="selected == page ? 'selBorder' : ''">
            {{page}}
          </button>
        </div>
        <app-login class="loginButtons"></app-login>
      </div>
    </td-layout-nav>
    <router-outlet id="appRootClass"></router-outlet>
    <footer>
    <td-layout-nav id="footer">
      <div td-toolbar-content layout="row" layout-align="start center" flex> 
        <a class="footerGit" href="https://github.com/codeurjc-students/2019-LicenseManager" ><img src="assets/githubLogo.png" width="40px" alt="logo of GitHub"></a>
        <a class="footerText">Web based on LicenSoft. <a style="color:white" href="swagger-ui.html">Look for the API</a> </a>
        <a class="footerCodeUrjc" href="https://www.codeurjc.es/" ><img src="assets/codeurjcLogo.png" width="70px" alt="logo of CodeUrjc"></a>
      </div>
    </td-layout-nav>
  </footer>
  </div>
</div>
