#menu{
  position:fixed;
}

.loginButtons{
  position: absolute;
  right: 0;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99
}

#content{
  position: relative;
  min-height: 100%;
}

.footerText{
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

#footer{
  height: 55px;
  bottom: 0;
}

.footerGit{
  padding-left: 5px;
  padding-top: 10px;
}

.footerCodeUrjc{
  padding-right: 5px;
  padding-top: 10px;
}

form.checkout {
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 1rem 2rem;
  background: white;

  font-family: monospace;
  color: #525252;
  font-size: 1.1rem;
}

form.checkout button {
  padding: 0.5rem 1rem;
  color: white;
  background: coral;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
}

form.checkout button:active {
  background: rgb(165, 76, 43);
}

.StripeElement {
  margin: 1rem 0 1rem;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#name{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
  text-align: center;
}


#logoBg{
  background-color: #EBF6FC;
}

.bg{
  background-color: #3662A1;
}