  <!--<td-layout-nav>
    <div id="toolbar" td-toolbar-content layout="row" layout-align="start center" flex>
      <a mat-icon-button [routerLink]="['/']" matTooltip="LicenSoft">
        <mat-icon>home</mat-icon>
      </a>
      <div>
        <a mat-button matTooltip="A VER"> A VER</a>
      </div>
    </div>
    <router-outlet></router-outlet>
  </td-layout-nav>
-->
<div id="appRootClass">
  <div>
      <img src="assets/licensoftLogoFont.png" id="logoPhoto" class="responsive"> 
  </div>


  <td-layout-nav>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <a mat-icon-button [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </a>
      <div *ngFor="let page of pages | keyvalue">
        <a mat-button [routerLink]="['/',page.value]">
          {{page.key}}
        </a>
      </div>
      <app-login class="loginButtons"></app-login>
    </div>
    <router-outlet></router-outlet>
  </td-layout-nav>

  <router-outlet></router-outlet>
</div>
