backend/target/classes/META-INF/MANIFEST.MF
frontend/node_modules/
Licencheck/.idea
Licencheck/target/
JavApplication/target
JavApplication/.idea/
/docker/data
backend/src/main/resources/static/assets/*
backend/src/main/resources/static/*
backend/target/
frontend/dist
