backend/target/classes/META-INF/MANIFEST.MF
frontend/node_modules/
Licencheck/.idea
Licencheck/target/
JavApplication/target
JavApplication/.idea/
/docker/data
backend/src/main/resources/static/assets/*
backend/src/main/resources/static/*
backend/target/
frontend/dist
backend/src/main/java/tfg/licensoft/DatabaseInitializer.java
backend/target/classes/java/tfg/licensoft/DatabaseInitializer.class
docker/docker-compose.yml
backend/target/classes/META-INF/maven/tfg/license-web/pom.properties
backend/target/classes/META-INF/MANIFEST.MF
*.class
/.metadata/
.DS_Store
docker/.env
.DS_Store
frontend/.DS_Store
docker/.DS_Store
backend/.DS_Store
*.class
