.background{
    background-image:url('/../../assets/bg_p1.jpg');     
    background-size: 100% 100%;
  }

#freeTrial{
    font-size: 30px;
    padding: 10px;
    border-style: dashed;
    border-width: 4px;
    border-color:#3F51B5;
    background: rgba(255, 255, 255, 0.733);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;

}

.center-div{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;

}

.typeExp{
    width: auto;
    padding-left: 13rem;
    padding-right: 13rem;

    margin-left: auto;
    margin-right: auto;
}
.content{
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}

.grid-container5 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
.grid-container3 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-container4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

mat-card{
    border-style: solid;
    border-width: 1px;
    border-color:#3F51B5;
    background: rgba(255, 255, 255, 0.733);

}
.price{
    font-size: 150%;
}

.copyButton{
    left:15px;
}

a{
    font-family: Arial, Helvetica, sans-serif;
}

.serial{
    border-style: dashed;
    border-color: darkgreen;
    border-width: 1px;
    padding:5px;
}

#successfulMessage{
    color: darkgreen;
    background-color:#CEDAEC ;
    border-style: solid;
    border-color: #3F51B5;
    border-width: 1px;
}



.link{
    outline: none !important;
    COLOR:blue;
    cursor:pointer;
}




.info{
    padding: 15px;;
}

#buttonSubmit{
    left: 10%;
    right:10%;
    text-align: center;
    padding: 5px;
}

.fakeButton{
    font-family: Roboto, "Helvetica Neue",sans-serif;
    font-weight: 500;
    text-decoration: none;
    background-color: #3F51B5;
    color: rgb(255, 255, 255);
    padding: 10px 15px 10px 15px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    border: none;
    outline: none;
    width: 115px;
    height: 250px;
}

.scContent{
    padding:15px;
}

.filemsg{
    padding:5px;
}