.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .background{
    background-image:url('/../../assets/bg_p1.jpg');     
    background-size: 100% 100%;
  }