<div class="center-div">
    <h1  style="font-family:Arial" class="content">{{product?.name}}</h1>
    <br>
    <span class="content"><a href="//{{product?.webLink}}">{{product?.webLink}}</a></span>
    <br>
    <span class="content" style="white-space: pre-line"> {{product?.description}} </span>
    <br>
    <div class="grid-container">
        <div  *ngFor="let plan of product?.plansPrices | keyvalue">
            <br>
            <br>
            <img src="assets/logo_{{plan.key}}.png" class="logoPhoto" height="150" width="150" #photo>
            <br>
            <br>
            
            <span class="price">{{plan.value}} €
                <span *ngIf="plan.key=='M'">/ month</span>
                <span *ngIf="plan.key=='A'">/ year</span>
                <span *ngIf="plan.key=='D'">/ day</span>
                <span *ngIf="plan.key=='L'"> (forever) </span>
            </span>
            <br>
            <br>
            <a *ngIf="errorAdded" style="color:red;">You have to add first a valid card to pay with</a>
            <br>

            <button mat-raised-button *ngIf="plan.key=='L'" (click)="pay(plan.value)" color="accent">START ORDER</button>
            <button mat-raised-button *ngIf="plan.key=='L'" (click)="confirm()" color="green" [disabled]="!card">BUY ORDER</button>
            <button mat-raised-button *ngIf="plan.key!='L'" (click)="subscribeToProduct(plan.key, plan.value)" color="accent">BUY</button>

            <br>
            <br>
            <a *ngIf="successfulMessage" style="color:green;">Payment Successful! Your license serial : {{serial}}</a>

        </div> 
    </div>
</div> 

