.center-div{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;

}

.content{
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.price{
    font-size: 150%;

}



