img {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

    max-width: 200%;
    height: auto;
  }



.post-container {
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 210px;
    font-weight: italic;

}
.post-title {
    font-weight: bold;
    font-size: 200%;
    padding-left: 10px;

}

.link{
    color: black;
    text-decoration: none; 
    background-color: none;
}

a:hover {
    outline: none !important;
    COLOR:blue;
    cursor:pointer;
}

.typeLicenses {
    font:"Arial";
    font-size:120%;
    font-weight: bold;
}

.types{
    margin-left: 210px
}

p.italic {
    font-style: italic;
}