    
    <mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="PRODUCT" [(ngModel)]="license.product.name" disabled> 
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Serial" [(ngModel)]="license.serial" disabled> 
        </mat-form-field>  
        <br>
        <mat-form-field>
                <mat-select placeholder="Status" [(ngModel)]="license.active">
                  <mat-option value="true" [value]="true">Active</mat-option>
                  <mat-option value="false" [value]="false">Inactive</mat-option>
                </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
                <mat-select placeholder="Type" [(ngModel)]="license.type">
                  <mat-option value="A">Annual</mat-option>
                  <mat-option value="M">Monthly</mat-option>
                  <mat-option value="L">Life</mat-option>
                </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
                <mat-select placeholder="Owner" [(ngModel)]="license.owner">
                        <mat-option value={{user.name}} *ngFor="let user of users">{{user.name}}</mat-option>
                </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="warn" (click)="saveLicense()">SAVE</button>
        <button mat-button  (click)="close()">CANCEL</button>
    </mat-dialog-actions>