<h1>{{name}}</h1>
<mat-card>
    <mat-card-title> Licenses </mat-card-title>
    <mat-card-content>
        <mat-grid-list cols="7" rowHeight="20:1">
            <mat-grid-tile>
                <a><strong>SERIAL</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>STATUS</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>OWNER</strong></a>
          </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>TYPE</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>START DATE</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                    <a><strong>END DATE</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="7" rowHeight="20:1">
           <div *ngFor="let license of product?.licenses">
                <mat-grid-tile>
                    <a>{{license.serial}}</a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <span *ngIf="license.active"><mat-icon>check</mat-icon></span> 
                    <span *ngIf="!license.active"><mat-icon>remove</mat-icon></span> 
                </mat-grid-tile>
                <mat-grid-tile>
                    <a *ngIf="license.active">{{license.owner}}</a>
                    <a *ngIf="!license.active">--</a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <span>{{license.type}}</span>
                </mat-grid-tile>
                <mat-grid-tile>
                        <a *ngIf="license.startDate">{{license.startDate}}</a>
                        <a *ngIf="!license.startDate">--</a>

                </mat-grid-tile>
                <mat-grid-tile>
                        <a *ngIf="license.endDate">{{license.endDate}}</a>
                        <a *ngIf="!license.endDate">--</a>
                </mat-grid-tile>
                <mat-grid-tile>
                        <button mat-icon-button *ngIf="loginService.isAdmin && license.active" (click)="pauseLicense()">
                                <mat-icon fxFlex="10%">pause</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="loginService.isAdmin && !license.active" (click)="startLicense()">
                                <mat-icon fxFlex="10%">play_arrow</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="loginService.isAdmin" (click)="deleteLicense()">
                                <mat-icon fxFlex="10%">delete</mat-icon>
                        </button>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </mat-card-content>
    <button mat-raised-button color="accent" (click)="openAddDialog()">ADD</button>

<ng-template #addLicenseDialog let-addLicenseDialog="addLicenseDialog">
        <h1>Add License</h1>
        <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Serial" [(ngModel)]="serial"> 
            </mat-form-field>
          
            <mat-form-field>
              <mat-select placeholder="Status" [(value)]="active">
                <mat-option value="true">Active</mat-option>
                <mat-option value="false">Inactive</mat-option>
              </mat-select>
            </mat-form-field>
    
            <mat-form-field>
                <mat-select placeholder="Type" [(value)]="type">
                  <mat-option value="A">Annual</mat-option>
                  <mat-option value="M">Monthly</mat-option>
                  <mat-option value="L">Life</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <button mat-raised-button color="accent" (click)="addLicense(serial,active,type)">ADD</button>
    </ng-template>
</mat-card>
