@font-face {
    font-family: 'Summertime';
    src: url('assets/fonts/Summertime.woff2') format('woff2'),
        url('assets/fonts/Summertime.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

