<mat-card>
    <mat-card-title> Licenses of <b>{{product?.name}}</b></mat-card-title>
    <mat-card-content>
        <mat-grid-list cols="6" rowHeight="5:1">
            <mat-grid-tile>
                <a><strong>SERIAL</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>STATUS</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>OWNER</strong></a>
          </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>TYPE</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>START DATE</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                    <a><strong>END DATE</strong></a>
            </mat-grid-tile>

            <br>
        </mat-grid-list>

        <mat-grid-list cols="6" rowHeight="5:1">
           <div *ngFor="let license of product?.licenses | paginate: {itemsPerPage:numberOfElements, currentPage: pageActual}">
                <mat-grid-tile>
                    <a>{{license.serial}}</a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <span *ngIf="license.active"><mat-icon>check</mat-icon></span> 
                    <span *ngIf="!license.active"><mat-icon>remove</mat-icon></span> 
                </mat-grid-tile>
                <mat-grid-tile>
                    <a *ngIf="license.owner!=null">{{license.owner}}</a>
                    <a *ngIf="license.owner==null">--</a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <span>{{license.type}}</span>
                </mat-grid-tile>
                <mat-grid-tile>
                        <a *ngIf="license.startDate">{{license.startDate | date:'medium'}}</a>
                        <a *ngIf="!license.startDate">--</a>

                </mat-grid-tile>
                <mat-grid-tile>
                        <a *ngIf="license.endDate">{{license.endDate | date:'medium'}}</a>
                        <a *ngIf="!license.endDate">--</a>
                </mat-grid-tile>
                <br>
            </div>
            
        </mat-grid-list>
        <pagination-controls (pageChange)="pageActual = $event" style=" display:inline-block;">
        </pagination-controls>
        <span style="display:inline-block;">Elements on page:</span>
        <div style="width: 120px; margin-left: auto; display:inline-block;">
            <mat-select [(value)]="numberOfElements" style="display:inline-block; width: 50px;">
                <mat-option value="5">5</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="15">15</mat-option>
            </mat-select>
        </div> 
    </mat-card-content>

<ng-template #addLicenseDialog let-addLicenseDialog="addLicenseDialog">
        <h1>Add License</h1>
        <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Serial" [(ngModel)]="serial" required> 
            </mat-form-field>


            <a *ngIf="statusAlertNull" style="color:red;" >Enter status</a>
            <mat-form-field>
              <mat-select placeholder="Status" [(value)]="active">
                <mat-option value="true">Active</mat-option>
                <mat-option value="false">Inactive</mat-option>
              </mat-select>
            </mat-form-field>
    
            <a *ngIf="typeAlertNull" style="color:red;">Enter type</a>
            <mat-form-field>
                <mat-select placeholder="Type" [(value)]="type">
                  <mat-option value="A">Annual</mat-option>
                  <mat-option value="M">Monthly</mat-option>
                  <mat-option value="L">Life</mat-option>
                </mat-select>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" (click)="addLicense(serial,active,type)">ADD</button>
          <button mat-button color="warn" (click)="dialogRef.close()">X</button>
    </ng-template>




</mat-card>