.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  mat-card { 
    border:1px solid #3F51B5;
    margin-top:1em;
  }

  .comp:hover{
    background-color: rgb(184, 184, 184);
  }