<ng-container *ngIf="!loginService.isLogged">
    	<span>
                <button id="loginButton" mat-button (click)='openLoginDialog()'>
                    Login
                </button>
        </span>     
 </ng-container>
 <!--<button mat-button (click)="getUserLoggedBack()">User logged back</button>-->

 <ng-container *ngIf="loginService.isLogged">
    <a>{{loginService.user.name}}</a>
        <span>
            <button mat-button (click)='logOut()'>
                <mat-icon >exit_to_app</mat-icon>
            </button>
            
        </span>
    </ng-container>

 <ng-template #loginDialog let-dialogRef="dialogRef">
<div>
  <div>
       <mat-card>
            <mat-card-content>
                    <form>
                        <div layout="column">
                        <h4>Introduce your user name</h4>
                        <mat-form-field>
                            <mat-label>User</mat-label>
                                <input #user matInput placeholder="User">
                        </mat-form-field>
                        <h4>Introduce your password</h4>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                                <input #pass matInput placeholder="Password" type="password">
                        </mat-form-field>
                        
                        <div layout="column">
                                <a mat-stroked-button class="text-upper" color="primary" (click)="register()">
                                    <span>Register</span>
                                </a>
                        </div>
                    </div> 
                    </form>
                    </mat-card-content>        
            <mat-card-actions>
                <div layout="column">
                        <a mat-raised-button (click)="logIn($event, user.value, pass.value)" class="text-upper" color="primary">
                            <span>Access</span>
                        </a>
                </div>
            </mat-card-actions>
            <div *ngIf="error">
                <span style="color: red;margin:180px;">Wrong credentials. Try again</span>
            </div>
        </mat-card>
  </div>
</div>
</ng-template>