<div class="confirm-dialog-container">
    <div class="content-container">
      <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
      <span class="content-span full-width">{{data.message}}
        <br>
      <mat-checkbox *ngIf="data.checkbox" class="example-margin" [(ngModel)]="checkboxStatus" color="primary"> Automatic renewal</mat-checkbox>
    </span>
    </div>
    <button mat-flat-button id="no-button" (click)="no()">NO</button>
    <button mat-flat-button id="yes-button" (click)="yes()">YES</button>
  </div>