<div class="confirm-dialog-container">
    <div class="content-container">
        <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
        <span class="content-span full-width">
            <a>{{data.msg}}</a>
                <mat-radio-group aria-label="Select an option" [(ngModel)]="pmSelected">
                <div *ngFor="let paymentMethod of paymentMethods" >
                        <mat-radio-button value={{paymentMethod?.id}}>
                            <img *ngIf="(!visaError && paymentMethod?.card.brand == 'visa' || !mcError && paymentMethod?.card.brand == 'mastercard' || paymentMethod?.card.brand == 'amex' && !amexError)" src="assets/{{paymentMethod?.card.brand}}.png" width="50px" (error)="updateUrl(paymentMethod?.card.brand)"><a id="info">| {{paymentMethod?.card.brand.toUpperCase()}} that ends with {{paymentMethod?.card.last4}} - Expiring {{paymentMethod?.card.expMonth}}/{{paymentMethod?.card.expYear}}</a>
                        </mat-radio-button>
                </div>
                </mat-radio-group>


                <button mat-raised-button (click)="insertCard()" color="primary" *ngIf="!inserted">Insert new card</button>
                <div *ngIf="inserted">
                    <app-card-form [calledByTrial]="false" (cardAdded)="cardAddedHandler($event)"></app-card-form>
                </div>
                <br>
        </span>
    </div>
    <button mat-flat-button id="yes-button" (click)="yes()">CONFIRM CHANGES</button>
</div>
