@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/fonts/scss/modules/fonts';

// primary font
$logo_font: 'Summertime';

.font{
    font-family: $logo_font;

  }

#appRootClass{
  min-height: calc(100vh - 55px - 80px - 60px)
}

.background{
  background-image:url('/../../assets/bg_p1.jpg');     
  background-size: 100% 100%;
}

