<div>
    <div>
         <mat-card>
              <mat-card-content>
                      <form>
                          <div layout="column">
                          <h4>Introduce your user</h4>
                          <mat-form-field>
                              <mat-label>User</mat-label>
                                  <input #user  name='user' matInput placeholder="User">
                          </mat-form-field>
                          <h4>Introduce your password</h4>
                          <mat-form-field>
                              <mat-label>Password</mat-label>
                                  <input #pass1 type="password"   name='pass1' matInput placeholder="Password">
                          </mat-form-field>
                          <h4>Confirm password</h4>
                          <mat-form-field>
                              <mat-label>Password</mat-label>
                                  <input type="password" name='pass2' #pass2 matInput placeholder="Password" >
                          </mat-form-field>
                          
                          
                          
                      </div> 
                      </form>
                      
                          
                      </mat-card-content>        
              <mat-card-actions>
                  <div layout="column">
                      <a mat-raised-button (click)="register(user.value,pass1.value,pass2.value)" class="text-upper" color="primary" [routerLink]="['/login']">
                        <span>Create user</span>
                    </a>
                  </div>
              </mat-card-actions>
          </mat-card>
    </div>
  </div>