<div class="background" id="appRootClass">
<br>
<mat-card>
    <mat-card-title>Statistics of {{productName}} - License Serial: {{license?.serial}} - Period:              
        <mat-select [value]="periodSelected" style="display:inline-block; width: 300px;" (selectionChange)="changePeriod($event)">
            <mat-option value="0">Current Period</mat-option>
            <mat-option *ngIf="license?.period>1" value="1">Previous Period</mat-option>
        </mat-select>
    </mat-card-title>
    <hr>
    <mat-tab-group (selectedTabChange)="resetIndexPage($event)"> 
        <mat-tab label="By IP">
            <mat-card-content>
                <a class="text">Number of Different IPs: {{licensesByIpMap.size}}</a>
                <div class="center-div-pie">     
                    <app-pie-chart  *ngIf="licensesByIpMap?.size!=0 && trigger" [statsMap]="licensesByIpMap"  (setLineChart)="setLineChart($event)"></app-pie-chart>
                    <app-pie-chart  *ngIf="licensesByIpMap?.size!=0 && !trigger" [statsMap]="licensesByIpMap"  (setLineChart)="setLineChart($event)"></app-pie-chart>

                </div>
                <mat-grid-list cols="3"  rowHeight="4rem">
                    <mat-grid-tile>
                        <a><strong>IP</strong></a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <a><strong>USAGE</strong></a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <a><strong>LAST USAGE DATE</strong></a>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="3"  rowHeight="4rem">

                    <div *ngFor="let item of statListMapIP | keyvalue | paginate: {itemsPerPage:numberOfElementsIP, currentPage: pageActualIP}">
                        <mat-grid-tile>
                            <a>{{item.key}}</a>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <a>{{item.value.nUsage}}</a>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <a>{{item.value.usages[item.value.usages.length-1] | date:'medium'}}</a>
                        </mat-grid-tile>
                    </div>  
                </mat-grid-list>
                <div *ngIf=" statListMapIP.size > numberOfElementsIP">
                <pagination-controls (pageChange)="pageActualIP = $event" style=" display:inline-block;">
                </pagination-controls>
                <a style="display:inline-block;">Elements on page:</a>
                <div style="width: 120px; margin-left: auto; display:inline-block;">
                    <mat-select [(value)]="numberOfElementsIP" style="display:inline-block; width: 50px;">
                        <mat-option value="5">5</mat-option>
                        <mat-option value="10">10</mat-option>
                        <mat-option value="25">25</mat-option>
                    </mat-select>
                </div> 
                </div>
            </mat-card-content>
        </mat-tab>
    <mat-tab label="By Name">
        <mat-card-content>
            <a class="text">Number of Different UserNames: {{licensesByNameMap.size}}</a>
            <div class="center-div-pie">     
                <app-pie-chart *ngIf="licensesByNameMap?.size!=0 && !trigger" [statsMap]="licensesByNameMap"   (setLineChart)="setLineChart($event)"></app-pie-chart>
                <app-pie-chart *ngIf="licensesByNameMap?.size!=0 && trigger" [statsMap]="licensesByNameMap"   (setLineChart)="setLineChart($event)"></app-pie-chart>

            </div>
            <mat-grid-list cols="3"  rowHeight="4rem">
                <mat-grid-tile>
                    <a><strong>NAME</strong></a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a><strong>USAGE</strong></a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a><strong>LAST USAGE DATE</strong></a>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="3"  rowHeight="4rem">

                <div *ngFor="let item of statListMapName |keyvalue | paginate: {itemsPerPage:numberOfElementsName, currentPage: pageActualName}">
                    <mat-grid-tile>
                        <a>{{item.key}}</a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <a>{{item.value.nUsage}}</a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <a>{{item.value.usages[item.value.usages.length-1] | date:'medium'}}</a>
                    </mat-grid-tile>
                </div>  
            </mat-grid-list>
            <div *ngIf=" statListMapName.size > numberOfElementsName">
            <pagination-controls (pageChange)="pageActualName = $event" style=" display:inline-block;">
            </pagination-controls>
            <a style="display:inline-block;">Elements on page:</a>
            <div style="width: 120px; margin-left: auto; display:inline-block;">
                <mat-select [(value)]="numberOfElementsName" style="display:inline-block; width: 50px;">
                    <mat-option value="5">5</mat-option>
                    <mat-option value="10">10</mat-option>
                    <mat-option value="25">25</mat-option>
                </mat-select>
            </div> 
            </div>
        </mat-card-content>
    </mat-tab>
    <mat-tab label="By Name & IP">
        <mat-card-content>
            <a class="text">Number of Different UserName+IP: {{licensesByIpAndNameMap.size}}</a>
            <div class="center-div-pie">     
                <app-pie-chart *ngIf="licensesByIpAndNameMap?.size!=0 && !trigger" [statsMap]="licensesByIpAndNameMap"   (setLineChart)="setLineChart($event)"></app-pie-chart>
                <app-pie-chart *ngIf="licensesByIpAndNameMap?.size!=0 && trigger" [statsMap]="licensesByIpAndNameMap"   (setLineChart)="setLineChart($event)"></app-pie-chart>

            </div>
            <mat-grid-list cols="4"  rowHeight="4rem">
                <mat-grid-tile>
                    <a><strong>NAME</strong></a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a><strong>IP</strong></a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a><strong>USAGE</strong></a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a><strong>LAST USAGE DATE</strong></a>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4"  rowHeight="4rem">

            <div *ngFor="let item of statListMapIPName | keyvalue | paginate: {itemsPerPage:numberOfElementsIPName, currentPage: pageActualIPName}">
                <mat-grid-tile>
                    <a>{{item.key.split('%')[0]}}</a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a>{{item.key.split('%')[1]}}</a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a>{{item.value.nUsage}}</a>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a>{{item.value.usages[item.value.usages.sort().length-1] | date:'medium'}}</a>
                </mat-grid-tile>
            </div>
            </mat-grid-list>
            <div *ngIf=" statListMapIPName.size > numberOfElementsIPName">
            <pagination-controls (pageChange)="pageActualIPName = $event" style=" display:inline-block;">
            </pagination-controls>
            <a style="display:inline-block;">Elements on page:</a>
            <div style="width: 120px; margin-left: auto; display:inline-block;">
                <mat-select [(value)]="numberOfElementsIPName" style="display:inline-block; width: 50px;">
                    <mat-option value="5">5</mat-option>
                    <mat-option value="10">10</mat-option>
                    <mat-option value="25">25</mat-option>
                </mat-select>
            </div> 
            </div>

        </mat-card-content>
    </mat-tab>
</mat-tab-group>    

</mat-card>

<mat-card *ngIf="selected!=''" id="barChart">
    <mat-card-title>Usage chart of : {{selected}}</mat-card-title>
    <hr>
    <div>
    <mat-card-content> 
        <bar-chart-component *ngIf="!loading" [statsMap]="lineChartMap"></bar-chart-component>
    </mat-card-content>
    </div>
</mat-card>

</div>
