
.productName:hover {
    outline: none !important;
    COLOR:blue;
    cursor:pointer;
}

.productName{
    color:blue
}


mat-card{
    border-style: solid;
    border-width: 1px;
    border-color:#3F51B5;
    background: rgba(255, 255, 255, 0.5);
}
.lineLicense{
    margin: 10px;
}

#spinner{
    width: 2em;
    height: 2em;
    padding-right: 2em;
}


.an{
    font-style: italic;
    color: #3F51B5;
}

.background{
    background-image:url('/../../assets/bg_p1.jpg');     
    background-size: 100% 100%;
  }

  .link{
    outline: none !important;
    COLOR:blue;
    cursor:pointer;
}

.fakeButton{
    font-family: Roboto, "Helvetica Neue",sans-serif;
    font-weight: 500;
    text-decoration: none;
    background-color: #3F51B5;
    color: rgb(255, 255, 255);
    padding: 10px 15px 10px 15px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    border: none;
    outline: none;
    width: 115px;
    height: 250px;
}