<div class="background">
    <br>
    <mat-card>
        <mat-card-title> My Licenses      <img *ngIf="loading" src="assets/spinner.gif" id="spinner">
        </mat-card-title>
        <hr>
        <mat-card-content>
        <mat-grid-list cols="10"  rowHeight="4rem">
            <mat-grid-tile>
                <a><strong>PRODUCT</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>SERIAL</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>STATUS</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>TYPE</strong></a>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <a><strong>START DATE</strong></a>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                    <a><strong>END DATE</strong></a>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <a><strong>AUTOMATIC RENEWAL</strong></a>
        </mat-grid-tile>
        </mat-grid-list>

            <mat-grid-list cols="10"  rowHeight="4rem">
                <div *ngFor="let license of activeLicenses" class="lineLicense">
                    <mat-grid-tile>
                        <span (click)="manageLink(license.product.name)" class="productName">{{license.product.name}}</span>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <a>{{license.serial}}</a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <span *ngIf="license.active"><mat-icon>check</mat-icon></span> 
                        <span *ngIf="!license.active"><mat-icon>remove</mat-icon></span> 
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <span>{{license.type}}</span>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <a *ngIf="license.startDate">{{formatDates(license.startDate)}}</a>
                        <a *ngIf="!license.startDate">--</a>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <a *ngIf="license.endDate">{{formatDates(license.endDate)}}</a>
                        <a *ngIf="!license.endDate">--</a>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <div *ngIf="!loading">
                            <div *ngIf="!license.cancelAtEnd && license.type!='L'"><mat-icon>check</mat-icon><button mat-icon-button  (click)="cancelAtEnd(license)" ><span class="an">(Disable)</span></button></div>
                            <div *ngIf="license.cancelAtEnd && license.type!='L'"><mat-icon>cancel</mat-icon><button mat-icon-button (click)="cancelAtEnd(license)"><span class="an">(Enable)</span></button></div>
                        </div>
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>