<div class="background" id="appRootClass">
    <br>
    <mat-card>
        <mat-card-title> My Licenses      <img *ngIf="loading" src="assets/spinner.gif" id="spinner" alt="spinner gif">
        </mat-card-title>
        <hr>
        <mat-card-content>
        <mat-grid-list cols="17"  rowHeight="4rem">
            <mat-grid-tile>
                <a><strong>PRODUCT</strong></a>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <a><strong>SERIAL(Online)</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>STATUS</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>TYPE</strong></a>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <a><strong>START DATE</strong></a>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                    <a><strong>END DATE</strong></a>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <a><strong>AUTOMATIC RENEWAL</strong></a>
            </mat-grid-tile>
            <mat-grid-tile>
                <a><strong>USAGE</strong></a>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <a><strong>UPCOMING INVOICE</strong></a>
            </mat-grid-tile>
        </mat-grid-list>
            <mat-grid-list cols="17"  rowHeight="4rem">
                <div *ngFor="let license of activeLicenses | paginate: {itemsPerPage:numberOfElements, currentPage: pageActual}" class="lineLicense">
                    <mat-grid-tile>
                        <span (click)="manageLink(license.product.name)" class="productName" attr.id="productName{{license.product.name}}">{{license.product.name}}</span>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <div *ngIf="license.product.mode=='Online' || license.product.mode=='Both'">
                            <a attr.id="serial-{{license.id}}">{{license.serial}}</a>
                        </div>
                        <a *ngIf="license.product.mode=='Offline'"> -- </a>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <span *ngIf="license.active"><mat-icon attr.id="statusActive-{{license.id}}">check</mat-icon></span> 
                        <span *ngIf="!license.active"><mat-icon attr.id="statusInactive-{{license.id}}">remove</mat-icon></span> 
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <span attr.id="type-{{license.id}}">{{license.type}}</span>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <a *ngIf="license.startDate">{{license.startDate | date:'medium'}}</a>
                        <a *ngIf="!license.startDate">--</a>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <a *ngIf="license.endDate">{{license.endDate| date:'medium'}} <em *ngIf="license.trial">(trial period)</em></a>
                        <a *ngIf="!license.endDate">--</a>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <div *ngIf="!loading">
                            <div *ngIf="!license.cancelAtEnd && license.type!='L' && license.active"><mat-icon>check</mat-icon><button mat-icon-button  (click)="cancelAtEnd(license)" attr.id="disable-{{license.id}}"><span class="an">(Disable)</span></button></div>
                            <div *ngIf="license.cancelAtEnd && license.type!='L' && license.active"><mat-icon>remove</mat-icon><button mat-icon-button (click)="cancelAtEnd(license)" attr.id="enable-{{license.id}}"><span class="an">(Enable)</span></button></div>
                            <span *ngIf="!license.active">-</span>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div *ngIf="license.product.mode!='Offline' && license.type!='L' && license.active">
                            <span attr.id="usage-{{license.id}}">{{license.nUsage}} <em class="link" (click)="goToStats(license?.product.name,license.serial)">(View)</em></span>
                        </div>
                        <div *ngIf="!(license.product.mode!='Offline' && license.type!='L' && license.active)">
                            <span>-</span>
                        </div>

                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <span *ngIf="license.type!='MB' && license.type!='L' && license.active">{{license.price}} €</span>
                        <span *ngIf="license.type=='MB' && license.active" attr.id="invoice-{{license.id}}">{{license.price * license.nUsage | number: '1.2'}} €</span>
                        <span *ngIf="license.type=='L' && license.active">-</span>
                        <span *ngIf="!license.active">-</span>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <div *ngIf="license.product.mode=='Offline' || license.product.mode=='Both'">
                            <button mat-raised-button color="primary" (click)="downloadDialog(license)"attr.id="licFile-button-{{license.id}}">Get LicenseFile</button>
                            <a id="download" [href]="fileurl" download={{fileName}} style="display: none;">Download License File</a>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1">
                        <button mat-raised-button color="primary" *ngIf="license.type!='L'" (click)="editPaymentMethod(license.subscriptionId)"><mat-icon>create</mat-icon></button>
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
            <pagination-controls (pageChange)="pageActual = $event" style=" display:inline-block;">
            </pagination-controls>
            <a style="display:inline-block;">Elements on page:</a>
            <div style="width: 120px; margin-left: auto; display:inline-block;">
                <mat-select [(value)]="numberOfElements" style="display:inline-block; width: 50px;">
                    <mat-option value="3">3</mat-option>
                    <mat-option value="5">5</mat-option>
                    <mat-option value="10">10</mat-option>
                </mat-select>
            </div> 
        </mat-card-content>
        <em style="color: rgba(255, 0, 0, 0.61)">Upcoming invoices for MB licenses are a preview of the invoice that will be billed on the End Date. It may change if the subscription is updated. </em>
        <br>
        <em style="color: rgba(255, 0, 0, 0.61)">Serial and Usage are available for Licenses with <strong>Online or Both</strong> mode. <br> LicenseFile is available for Licenses with <strong>Offline or Both</strong> mode.</em>

    </mat-card>

</div>