<div class="background">
<br>
<mat-card class="cardProds">
        <mat-card-title> Your products </mat-card-title>
        <hr>
        <mat-card-content>
                <div *ngIf="products?.length==0">
                        <span>You don't have any product</span>
                </div>
                    <mat-grid-list cols="2" rowHeight="4rem" *ngIf="products?.length>0">
                            <div *ngFor="let product of products">
                                 <mat-grid-tile>
                                     <a routerLink="/admin/product/{{product.name}}">{{product.name}}</a>
                                 </mat-grid-tile>
                                 <mat-grid-tile>
                                        <button mat-icon-button (click)="openEditProductDialog(product)">
                                                <mat-icon class="icon">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button >
                                                <mat-icon class="icon" (click)="deleteProduct(product)" >delete</mat-icon>
                                        </button>
                                </mat-grid-tile>
                                
                            </div>
                    </mat-grid-list>
        </mat-card-content>
        <div>
           <button mat-raised-button color="primary" id="buttonAdd" (click)="openAddProductDialog()">ADD PRODUCT</button>
        </div>  

</mat-card>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>